body{
    margin:0;
    padding:0;
    background:linear-gradient(to right top,#65dfc9,#6cdbeb);
    
}
.box{
    width: 400px;
    background: white;
    background: linear-gradient(to right bottom,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    padding: 50px;
    margin: auto;
    margin-top: 120px;
    border-radius: 2rem;
    box-shadow: 0px 0px 50px -7px;
    
    z-index:5;
    
}
.box input{
    width: 89%;
    padding: 20px;
    border: none;
    display: block;
    background: #ddd;
    margin-bottom: 30px;
    border-radius: 4px;
}
.login{
    background:#ffeb3b!important;
    width: 100%!important;
    font-size: 20px;
}
.rt4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rt4 a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.hedline{
    text-align: center;
}
.hedline h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 .circle1,.circle2{
    background: white;
    background:linear-gradient(to right bottom,rgba(255, 255, 255,0.8),rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    top: 5%;
    right: 15%;
}
.circle2{
    bottom: 5%;
    left: 10%;
    
}
